/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos globais */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f1f1;
    color: #4e3629;
    line-height: 1.6;
}

header {
    background-color: #9e7a66; /* Marrom suave */
    padding: 20px;
    color: #fff;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
    color: #f6a5b3; /* Rosa claro */
}

nav ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    color: #f6a5b3; /* Rosa claro */
}

main {
    padding: 20px;
    text-align: center;
}

.page {
    display: none;
}

.page.active {
    display: block;
}

footer {
    background-color: #9e7a66;
    text-align: center;
    padding: 10px;
    color: #fff;
    margin-top: 30px;
}

h2 {
    color: #9e7a66;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

ul li {
    margin: 10px 0;
    font-size: 1.2em;
}
